<!-- Wrapper -->
<div id="wrapper">
{% assign curr_lang = page.lang %}
{% assign curr_langref = page.lang-ref %}
<!-- Header -->
<header id="header"{% if page.layout == "landing" %} class="alt style2"{% endif %}{% if page.layout == "home" or page.layout == "home-en" %} class="alt"{% endif %}>
	{% if curr_lang == "fr" %}
		<a href="{{ "" | absolute_url }}/" class="logo"><strong>{{ site.subtitle }}</strong><span>{{ site.title }}</span> </a>
	{% else %}
	  <a href="{{ "" | absolute_url }}/index-en.html" class="logo"><span>{{ site.title-en }}</span><strong>{{ site.subtitle-en }}</strong> </a>
	{% endif %}
	<nav>
		<a href="#menu">Menu</a>
	</nav>
</header>


<!-- Menu -->
<nav id="menu">
	<ul class="links">


		{% assign curr_home  = site.html_pages | where_exp: "item", "item.layout=='home' or item.layout=='home-en'" | where_exp: "item", "item.lang==curr_lang" %}
		{% for page in curr_home %}
			<li><a href="{{ page.url | absolute_url }}">{{ page.title }}</a></li>
		{% endfor %}
		{% assign ordered_pages = site.html_pages | sort: "order" %}
		{% for page in ordered_pages %}
		    {% if page.layout != "home" and page.nav-menu == true and curr_lang == page.lang %}
		        <li><a href="{{ page.url | absolute_url }}">{{ page.title }}</a></li>
		    {% endif %}
		{% endfor %}
	</ul>
	<ul class="actions vertical">
		{% if curr_lang == "fr" %}
			{% assign eng_link = site.html_pages | where_exp: "item", "item.lang-ref==curr_langref" | where_exp: "item", "item.lang!=curr_lang" | first %}
					<li><a href="{{ eng_link.url | absolute_url }}" class="button special fit">English</a></li>
		{% else %}
			{% assign fr_link = site.html_pages | where_exp: "item", "item.lang-ref==curr_langref" | where_exp: "item", "item.lang!=curr_lang" | first %}
				<li><a href="{{ fr_link.url | absolute_url }}" class="button special fit">Français</a></li>
		{% endif %}
	</ul>
</nav>
